<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
   
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="basicHttpEndPoint" />
        </basicHttpBinding>
        <customBinding>
          <binding name="wsHttpEndPoint">
            <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
              requireDerivedKeys="true" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt"
              messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
              requireSignatureConfirmation="false" canRenewSecurityContextToken="true">
              <secureConversationBootstrap defaultAlgorithmSuite="Default"
                authenticationMode="UserNameForSslNegotiated" requireDerivedKeys="true"
                includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                requireSignatureConfirmation="false">
                <localClientSettings detectReplays="true" />
                <localServiceSettings detectReplays="true" />
              </secureConversationBootstrap>
              <localClientSettings detectReplays="true" />
              <localServiceSettings detectReplays="true" />
            </security>
            <textMessageEncoding />
            <httpTransport />
          </binding>
        </customBinding>
      </bindings>
        <client>
            <endpoint address="http://localhost:8000/RequestService" binding="customBinding"
                bindingConfiguration="wsHttpEndPoint" contract="RequestServiceReference.IRequestService"
                name="wsHttpEndPoint">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAADn7Ch24VwU7wAvtjvon9GBHw8fggAAAAAQAAANUBAAAwggHRMIIBOqADAgECAhAdShGIoxqbrEju0B4v9MInMA0GCSqGSIb3DQEBBQUAMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDAeFw0xNDAxMTMwNzAxNDNaFw0xOTAxMTMwMDAwMDBaMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAk+4E01bPpYxoTSE0YI9RvYlE+sqyabneLR185OzesOMnQPyzR6fRiqyb3g8Gv+084VSq68SpOuXxXYWfqJJxTbtpzgfyDL1BZFajJB392YAwYozeFMg7l3D/j3rKAqzIh2DKMWnkRYBESRLrkyJfm9M93Dm2Z3tgDc/VHjGW/KECAwEAAaMkMCIwCwYDVR0PBAQDAgSwMBMGA1UdJQQMMAoGCCsGAQUFBwMBMA0GCSqGSIb3DQEBBQUAA4GBAFotBTjySMZ4oTV2/LT2Z5QMXprO09uN8MuQt/aQbc9/QJwuKin6CBYUQKoMlKuzjjEkfHGF71YpH2Y/xLTrAUeZzhTXH/noUY7hJz2LS/69/bYYu3XhRiJNffCh5oounG+bmXgg+EhPOCFYEECOJLFUxUyDgnldAGEgjdPEyEtQ" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/RequestService/Register"
                binding="basicHttpBinding" bindingConfiguration="basicHttpEndPoint"
                contract="RequestServiceReference.IRegisterService" name="basicHttpEndPoint" />
        </client>

  <behaviors>
    <endpointBehaviors>
      <behavior name="behave">
        <clientCredentials>
          <serviceCertificate>
            <authentication certificateValidationMode='None' />
          </serviceCertificate>
        </clientCredentials>
      </behavior>
    </endpointBehaviors>
  </behaviors>
  </system.serviceModel>
</configuration>
 