<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    
    <services>
      
      <service behaviorConfiguration="RequestServiceBehavior" name="RequestService.RequestServiceImpl"> 
        
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding"
          name="wsHttpEndPoint" contract="RequestService.IRequestService" />

        <endpoint address="/Register" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          name="basicHttpEndPoint" contract="RequestService.IRegisterService" />
                       
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/RequestService" />
          </baseAddresses>
        </host>        

      </service>
    </services>
    
    <bindings>
      
      <wsHttpBinding>
        <binding name="wsHttpBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode = "Message">
            <message clientCredentialType="UserName"/>
          </security>                  
        </binding>
      </wsHttpBinding>

      <basicHttpBinding>
        <binding name="basicHttpBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      
    </bindings>
    
    
    <behaviors>
      <serviceBehaviors>
        
        <behavior name="RequestServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          
          <serviceCredentials>
            <serviceCertificate findValue = "localhost" storeLocation ="LocalMachine" storeName ="My" x509FindType ="FindBySubjectName"/>
            <userNameAuthentication userNamePasswordValidationMode = "Custom"
             customUserNamePasswordValidatorType = "RequestService.RequestServicePasswordValidator, RequestService"/>
            
            <clientCertificate>
               <authentication certificateValidationMode="None"/>
            </clientCertificate>
          </serviceCredentials>
        </behavior>


        <behavior name="RegisterServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
                
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>